<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>PERFORMER</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Performer</servlet-name>
    <servlet-class>com.rogers.servlet.Performer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Performer</servlet-name>
    <url-pattern>/Performer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginValidate</display-name>
    <servlet-name>LoginValidate</servlet-name>
    <servlet-class>com.rogers.servlet.LoginValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidate</servlet-name>
    <url-pattern>/LoginValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryOfPerformers</display-name>
    <servlet-name>HistoryOfPerformers</servlet-name>
    <servlet-class>com.rogers.servlet.HistoryOfPerformers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryOfPerformers</servlet-name>
    <url-pattern>/HistoryOfPerformers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidUser</display-name>
    <servlet-name>ValidUser</servlet-name>
    <servlet-class>com.rogers.servlet.ValidUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidUser</servlet-name>
    <url-pattern>/ValidUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BestPerformer</display-name>
    <servlet-name>BestPerformer</servlet-name>
    <servlet-class>com.rogers.servlet.BestPerformer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BestPerformer</servlet-name>
    <url-pattern>/BestPerformer</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ForgetPassword</display-name>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>com.rogers.servlet.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>com.rogers.servlet.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
</web-app>